<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBJTNvHMQcW1q0bmNZnB0Y6jHE7Dcu1qDg</string>
	<key>GCM_SENDER_ID</key>
	<string>16491473707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grocergosx.app</string>
	<key>PROJECT_ID</key>
	<string>grocergosx---app</string>
	<key>STORAGE_BUCKET</key>
	<string>grocergosx---app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16491473707:ios:0b170d7353be4ef426336e</string>
</dict>
</plist>